/* You can add global styles to this file, and also import other style files */

/* Angular Material Theme */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,

body 
{
    height: 98%;
}

body {
    background-color: #f5f5f5;
}

.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}